# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# demo py because it is for internal experiments only
demo.py

# Virtual environments
.env
.venv
env/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite DB (Django dev DB)
db.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Django stuff:
*.log
staticfiles/
media/

# Secrets
.env.local

# Editor directories and files
.idea/
*.sublime-workspace
*.sublime-project
