{% extends 'core/base.html' %}
{% load static %}
{% block title %}Add Ticket{% endblock %}
{% block addJS %}
<script src="{% static 'add_ticket.js' %}"></script>
{% endblock %}
{% block content %}
  <section class="add-ticket-section">
    <center>
    <h1 class="add-ticket-title">Add A New Ticket</h1>
    </center>
    <!-- <form method="post" action="{% url 'core:create_ticket' %}" class="add-ticket-form"> -->
    <form method="post" action="{% url 'core:save_ticket' %}" class="add-ticket-form" enctype="multipart/form-data">
      {% csrf_token %}
      <section class="ticket-pdf-upload">
        <div class="form-group">
          <label for="ticket_pdf_label">Upload Ticket PDF:</label>
          <input type="file" id="ticket_pdf" name="ticket_pdf" accept="application/pdf" required>
          <br>
        </div>
        <!-- <center>
        <a href="{% url 'core:process_ticket_pdf' %}">
          <button type="submit" id="process_pdf_btn" class="btn-process-pdf">Confirm Ticket</button>
        </a>
        </center> -->
       </section>
      <div class="form-group" id = "ticket_upload_options" style="visibility: visible;">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="source">Source:</label>
        <input type="text" id="source" name="source" required><br>
        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" required><br>
        <label for="ticket_type">Ticket Type:</label>
        <select name="ticket_type_dropdown" id="ticket_type_dropdown" required>
            <option value="flight">Flight</option>
            <option value="train">Train</option>
            <option value="bus">Bus</option>
            <option value="ferry">Ferry</option>
            <option value="other">Other</option>
        </select><br>
        <label for="booked_through">Booked Through:</label>
        <input type="text" id="booked_through" name="booked_through" required><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea><br>
        <label for="date_of_journey">Date of Journey:</label>
        <input type="date" id="date_of_journey" name="date_of_journey" required><br>
        <button type="submit" id="save_ticket_btn" class="btn-save-ticket">Save Ticket</button>
      </div>
    

{% endblock %}