{% extends 'core/base.html' %}
{% block title %}Your Tickets{% endblock %}
{% block content %}
  {% if tickets %}
    <div class="hero-actions">
      <a href="{% url 'core:add_ticket' %}" class="btn-signup">ADD A TICKET</a>
    </div>
    <!-- <ul class="tickets-list"> -->

      {% for ticket in tickets %}
      <div class="dashboard-grid">
      <a href="{% url 'core:view_ticket' ticket.id %}" class="tickets-card" aria-label="Tickets" role="link">
        <div class="tickets-inner">
          <h2 class="ticket-title">{{ ticket.title }}</h2>
          <p class="ticket-route">{{ ticket.source }} <strong>---></strong> {{ ticket.destination }}</p>
          <p class="ticket-date">{{ ticket.date_of_journey }}</p>
          <p class="ticket-uploaded"><em>Uploaded at: {{ ticket.uploaded_at }}</em></p>
        </div>
      </a>
    </div>
      {% endfor %}
    </ul>
  {% else %}
  <section class="hero">
    <h1 class="hero-title">You have no tickets!!</h1>
    <p class="hero-sub">Add one now using the below button</p>
    <div class="hero-actions">
      <a href="{% url 'core:add_ticket' %}" class="btn-signup">ADD A TICKET</a>
    </div>
   </section>
  {% endif %}
{% endblock %}