{% extends 'core/base.html' %}
{% block title %}<title>Your Tickets</title>{% endblock %}
{% block content %}
  {% if tickets %}
    <div class="hero-actions">
      <a href="{% url 'core:add_ticket' %}" class="btn-signup">ADD A TICKET</a>
    </div>
    <!-- <ul class="tickets-list"> -->
      <br>
      <div class="view-ticket-grid"></div>
      {% for ticket in tickets %}
      <a href="{% url 'core:view_ticket' ticket.id %}" class="view-tickets-card" aria-label="Tickets" role="link">
        <div class="view-tickets-inner">
          <h2 class="view-ticket-title">{{ ticket.title }}</h2>
          <p class="view-ticket-route">{{ ticket.source }} <strong>---></strong> {{ ticket.destination }}</p>
          <p class="view-ticket-date">{{ ticket.date_of_journey }}</p>
          <p class="view-ticket-uploaded"><em>Uploaded at: {{ ticket.uploaded_at }}</em></p>
        </div>
      </a>
      {% endfor %}
      </div>

      <!-- Pagination Controls -->
      {% if tickets.has_other_pages %}
      <div class="pagination" style="margin-top: 30px; text-align: center;">
        {% if tickets.has_previous %}
          <a href="?page=1" style="margin: 0 5px;">First</a>
          <a href="?page={{ tickets.previous_page_number }}" style="margin: 0 5px;">Previous</a>
        {% endif %}
        <span style="margin: 0 10px;">
          Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}
        </span>

        {% if tickets.has_next %}
          <a href="?page={{ tickets.next_page_number }}" style="margin: 0 5px;">Next</a>
          <a href="?page={{ tickets.paginator.num_pages }}" style="margin: 0 5px;">Last</a>
        {% endif %}
      </div>
      {% endif %}
  {% else %}
  <section class="hero">
    <h1 class="hero-title">You have no tickets!!</h1>
    <p class="hero-sub">Add one now using the below button</p>
    <div class="hero-actions">
      <a href="{% url 'core:add_ticket' %}" class="btn-signup">ADD A TICKET</a>
    </div>
   </section>
  {% endif %}
{% endblock %}