{% extends 'core/base.html' %}

{% block title %}Display Ticket{% endblock %}

{% block content %}
  <section class="hero">
    <h1 class="hero-title"> {{ ticket.title }} </h1>
    <div class="ticket-details">
      <p><strong>Source:</strong> {{ ticket.source }}</p>
      <p><strong>Destination:</strong> {{ ticket.destination }}</p>
      <p><strong>Date of Journey:</strong> {{ ticket.date_of_journey }}</p>
      <p><strong>Uploaded at:</strong> {{ ticket.uploaded_at }}</p>
      {% if ticket.image_thumbnail and ticket.image_thumbnail.url %}
      <div class="ticket-thumbnail">
        <h4>Click to view:</h4>
        <a href="{{ ticket.image_thumbnail.url }}" target="_blank">
        <img src="{{ ticket.image_thumbnail.url }}" alt="Ticket Thumbnail"  class="thumbnail-image"/>
        </a>
      </div>
      {% endif %}
      {% if ticket.ticket_file and ticket.ticket_file.url %}
      <div class="ticket-pdf">
        <p>{{ ticket.ticket_file.url }}</p>
        <h2><a href="{{ ticket.ticket_file.url }}" target="_blank" rel="noopener noreferrer"><button class="download_pdf">Download Ticket</button>
        </a>
        <a href="{% url 'core:delete_ticket' ticket.id %}">
          <button class="btn-delete">Delete</button></h2>
        </a>
      </div>
      {% endif %}
    </div>
  </section>  
{% endblock %}